<div id="links">
  <a href="http://www.microcloudnet.dv.utfpr.edu.br" target="_blank">Microcloudnet</a> | 
  <a href="http://www.utfpr.edu.br/dv" target="_blank">UTFPR Dois Vizinhos</a> 
</div>
<div id="logo"><h1>Microcloudnet</h1></div>
